/*! Copyright info: https://git.io/vFVxH */

$pihkala: #f8ca05;
$primary: $pihkala;

$pihkalamain: #e5ba05;
$pihkalagray: #e9ecef;

$blue: #0055b1;
$link-color: $blue;

$theme-colors: (
  "pihkalamain": $pihkalamain,
  "pihkalagray": $pihkalagray,
  "blue": $blue
);

$jumbotron-bg: darken($pihkalamain, 5%);

$font-family-sans-serif: source-sans-pro, sans-serif;
$headings-font-weight: 600;

//Images

.wp-caption {
  @extend .figure;
}

.wp-caption-text {
  @extend .figure-caption;
}

.wp-caption img {
  @extend .figure-img, .img-fluid;
}

//Blockquotes

blockquote {
  @extend .blockquote, .font-italic;
}

//WordPress align utilities

.alignleft {
  @extend .float-left;
}

.alignright {
  @extend .float-right;
}

.aligncenter {
  @extend .mx-auto, .d-block;
}

//Navbar

.nav-menu {
  @extend .navbar-nav;
}

.menu-item {
  @extend .nav-item;
}

.menu-item a {
  @extend .nav-link;
}

.current-menu-item a,
.current-page-ancestor a {
  @extend .nav-link.active;
}

//Menu widget

ul.menu {
  @extend .nav, .flex-column;
}

ul.menu li {
  @extend .nav-item;
}

//Jetpack slideshow

.slideshow-window {
  @extend .bg-pihkalagray, .border-0, .rounded-0;
}

.slideshow-controls,
.slideshow-slide-caption {
  @extend .d-none;
}

//Google Ads

.adsbygoogle {
  @extend .mb-2;
}

//Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
//Extra
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/jumbotron";

//Pihkala custom jumbotron

.pihkala-brand {
  @extend .jumbotron, .mb-0, .rounded-0, .text-light;

  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pihkala-brand h1 {
  @extend .font-weight-normal;
}

.pihkala-brand a {
  @extend .text-light;
}

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";
