/*! Copyright info: https://git.io/vFVxH */

$primary: #fde892;
$link-color: #3273dc;

$font-family-sans-serif: paralucent-text, sans-serif;
$headings-font-family: paralucent, sans-serif;
$headings-font-weight: 600;

$jumbotron-bg: #dbc56e;
$navbar-light-toggler-border-color: transparent;

//Images

.wp-caption {
  @extend .figure;
}

.wp-caption-text {
  @extend .figure-caption;
}

.wp-caption img {
  @extend .figure-img, .img-fluid;
}

//Blockquotes

blockquote {
  @extend .blockquote, .font-italic;
}

//WordPress align utilities

.alignleft {
  @extend .float-left;
}

.alignright {
  @extend .float-right;
}

.aligncenter {
  @extend .mx-auto, .d-block;
}

//Navbar

.nav-menu {
  @extend .navbar-nav;
}

.menu-item {
  @extend .nav-item;
}

.menu-item a {
  @extend .nav-link;
}

.current-menu-item a,
.current-page-ancestor a {
  @extend .nav-link.active;
}

//Menu widget

ul.menu {
  @extend .nav, .flex-column;
}

ul.menu li {
  @extend .nav-item;
}

//Jetpack slideshow

.slideshow-window {
  @extend .bg-transparent, .border-0, .rounded-0;
}

.slideshow-slide {
  @extend .bg-transparent;
}

.slideshow-controls,
.slideshow-slide-caption {
  @extend .d-none;
}

//Google Ads

.adsbygoogle {
  @extend .mb-2;
}

//Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
//Extra
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/jumbotron";

//Pihkala custom jumbotron

.pihkala-brand {
  @extend .jumbotron, .mb-0, .rounded-0, .text-light;

  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pihkala-brand h1 {
  @extend .font-weight-normal;
}

.pihkala-brand a {
  @extend .text-light;
}

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";
